.page-about {

  
  .entry-header {
    width: 100%;
    height: 100%;
    display: flex;
    .top-image1 {
      
    }

    .title-content {
      display: flex;
      align-self: center;
      padding-right: 10px;
      padding-left: 10px;
      width: 200px;
      h4 {
        padding-right: 5px;
        padding-bottom: 8px;
        border-bottom: 3px solid #00b46e;
      }
    }

    .top-image2 {
      padding-right: 8px;
    }

    .top-image3 {

    }
  }

  .our-mission {
    text-align: start;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 7px;
    background-color: $color__background-grey;
    h2{
      padding-bottom: 20px;
      font-size: 20px;
    }
  }

  .our-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    h5 {
    margin-block-start: .7rem;
    }
  }

  .values-title {
   padding-bottom: 55px;
   h2 {
    font-size: 1.5rem;
   }
   h4 {
    font-size: 2.25rem;
   } 
  }

  .graph-icon {
   text-align: center;
   padding-bottom: 35px;
  }

  .graph {
   width: 100px;
  }

  .books-icon {
   text-align: center;
   padding-bottom: 35px;
  }

  .books {
   width: 100px;
  }

  .unity-icon {
    text-align: center;
    padding-bottom: 35px;
  }

  .unity {
   width: 100px;
  }

  .volunteer-button-about {
   background-color: $color__green-1;
   width: 90%;
   text-align: center;
   padding: .4rem;
   margin-bottom: $base__space-unit; 
  }

  .volunteer-button-text-about {
   text-transform: uppercase;
   text-decoration: none;
   color: $color__background-white;;
   p {
    margin: 0px;
   }
  }

  .donate-button-about {
   border: solid $color__green-1 .15rem;
   width: 90%;
   text-align: center;
   padding: .4rem;
  }

  .donate-button-text-about {
   text-transform: uppercase;
   text-decoration: none;
   color: $color__green-1;
   p {
    margin: 0px;
   }
  }

  .founders {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    background-color: $color__background-grey;
    p {
      background-color: $color__background-grey;
      margin-block-end: 0em;
    }
    .founder1 {
      .box {
        background-color: #00b46e;
        padding: 113px 85px 10px 25px;
        background-position: top left;
      }
      padding-bottom: 4rem;
      .image-name {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        .image {
          width: 50%;
        }
        h5 {
          width: 40%;
          align-self: center;
          padding-left: 8px;
          background-color: #d9eee6;
          border-bottom: 3px solid #00b46e;

        }
      }
      
    }
    .founder2 {
      padding-bottom: 4rem;
      .image-name {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        .image {
          width: 50%;
        }
        h5 {
          width: 40%;
          align-self: center;
          padding-left: 8px;
          border-bottom: 3px solid $color__green-light-3;

        }
      }
        
    }
    .founder3 {
      padding-bottom: 4rem;
      .image-name {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        .image {
          width: 50%;
        }
        h5 {
          width: 35%;
          align-self: center;
          padding-left: 8px;
          background-color: $color__mint-4;
          border-bottom: 3px solid $color__cyan-4;

        }
      }
        
    }
  }
  
}
