.post-type-archive-community_programs{
    .hfeed{
	.site-content{
	    .content-area{
		// Carousel styles
		.carousel-pagination {
		    flex-direction: column-reverse;
		    grid-column: 1 / 4;
		    grid-row: 6;
		    @include desktop {
			flex-direction: column;
			position: relative;
			margin-bottom: -6%;
			z-index: 2;
		    }
		    .carousel-pagination-numbers {
			margin-top: 3rem;
		    }
		    .carousel-pagination-buttons {
			align-items: center;
			justify-content: center;
			@include desktop {
			    justify-content: flex-end;
			}
			.carousel-pagination-prev,
			.carousel-pagination-next {
			    margin: 0 auto;
			    @include desktop {
				margin: 0;
			    }
			    i {
				padding: 1.5rem;
				margin: .5rem;
				border: .2rem solid $color__green-1;
				border-radius: 100%;
				background-color: white;
			    }
			}
			.community-project-logo {
			    height: 8rem;
			    width: 80%;
			    background-position: center;
			    background-size: contain;
			    background-repeat: no-repeat;
			    @include desktop {
				display: none;
			    }
			}
		    }
		}
	    }
	    .background-green-box {
		position: absolute;
		background-color: $color__background-green;
		height: 100%;
		width: 30vw;
		z-index: 0;
	    }
	    .background-grey-box {
		position: absolute;
		background-color: $color__background-grey;
		z-index: 0;
		top: 30%;
		height: 70%;
		width: 100%;
		@include desktop {
		    top: 50%;
		    height: 50%;
		}
	    }
	}
    }
}
.community_programs {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 8rem repeat(7, auto);
    grid-column-gap: 4%;
    @include desktop {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, auto) 1rem auto 1rem repeat(4, auto);
	grid-column-gap: 1%;
    }
    h2 {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	font-size: 1.2rem;
	border-bottom: solid .4rem $color__green-1;
	padding: 0 .5rem .8rem;
	@include desktop {
	    grid-column: 1 / 6;
	    grid-row: 2 / 3;
	    border-bottom: none;
	    font-size: 2rem;
	    padding: 0 .5rem;
	    margin: 0;
	}
    }
    p {
	grid-column: 1 / 4;
	grid-row: 5 / 6;
	@include desktop {
	    grid-column: 1 / 7;
	    grid-row: 6 / 7;
	    font-size: 1.1rem;
	}
	font-size: 1rem;
	padding: 0 .5rem;
    }
    .community-first-image {
	height: 18rem;
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	@include desktop {
	    grid-column: 1 / 8;
	    grid-row: 7 / 8 ;
	}
	background-position: center;
	background-size: cover;
    }
    .community-secondary-image {
	grid-column: 3 / 4;
	grid-row: 3 / 5;
	@include desktop {
	    grid-column: 8 / 13;
	    grid-row: 6 / 8;
	    height: 100%;
	}
	background-position:center;
	background-size:cover;
	height: 14rem;
    }
    .community-third-image {
	display: none;
	@include desktop {
	    display: block;
	    grid-column: 9 / 13;
	    grid-row: 8 / 10;
	    height: 100%;
	    background-size: cover;
	    background-position: center;
	    margin-top: 1rem;
	}
    }
    .entry-header{
	grid-column: 1/4;
	grid-row: 7/8;
	@include desktop {
	    grid-column: 1 / 9;
	    grid-row: 8 / 9;
	}
	h2 {
	    border-bottom: none;
	    padding: 0 .5rem;
	    margin-top: 1rem;
	}
    }
    .entry-content {
	grid-column: 1 / 4;
	grid-row: 8 / 9;
	@include desktop {
	    grid-column: 1 / 9;
	    grid-row: 9 / 10;
	}
	display: flex;
	flex-direction: column;
	p {
	    padding: 0 .5rem;
	    margin: 0;
	}
	a {
	    text-decoration: none;
	    text-align: center;
	    font-weight: 700;
	    color: white;
	    background-color: $color__green-1;
	    padding: .5rem;
	    width: 50%;
	    margin: .5rem 0 0 .5rem;
	}
    }
    .light-green-box {
	display: none;
    }
    .light-grey-box{
	grid-column: 1 / 4;
	grid-row: 2 / 6;
	background-color: $color__background-grey;
	z-index: -1;
    }
    .green-line {
	display: none;
	background-color: $color__green-1;
	height: .5rem;
	@include desktop {
	    display: block;
	    grid-column: 1 / 5;
	    grid-row: 4 / 5;
	}
    }
}
