/*Footer */
.site-footer{
  border-top: 1px solid #b8b8b8;
  .footer-container {
  margin: 0rem; 
  width: 98%;
   @include desktop {
     display: flex;
     width: 70%;
     flex-direction: row;
     padding-top: 1.5rem;
     padding-bottom: 5rem;
     margin: 0 auto;
   }

   .menu-container {
     width: 100%;
     border-bottom: 1px solid #b8b8b8;
     @include desktop {
       width: 75%;
       border-bottom: none;
     }
   }
   .menu-footer-menu-container {
     width: 98%;
   }
   .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 21.25rem;
    list-style: none;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-top: 2.5rem;
    @include desktop {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: repeat(2, 25%);
      width: 90%;
      border-top: none; 
      border-bottom: none;
    }
     a {
       text-decoration: none;
       color: $color__border-abbr;
      }
      li {
        margin-bottom: 3rem; 
        @include desktop{
          display: inline;
          flex-direction: column;
        }
     }
   }
    .widget-area {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1rem;
      @include desktop {
        display: flex;
        width: 25%;
        flex-direction: column;
        padding-left: 5rem;
        border-left: 1px solid #b8b8b8;

      }
    
      .Contact-Info-class{
        padding-left: 1rem;
        @include desktop {
          padding: 0rem;
        }
        .widget-title {
          font-size: 1.25rem;
        }
      }

      .social-info-class,
      .banner-widgets {
        display: flex;
        padding-top: 1rem;
        margin: 0rem;
        .social-icons {
          padding-inline-start: 0px;
          margin: 0rem; 
          font-size: 2.813rem;
          list-style: none;
          @include desktop {
            display: flex;
            flex-direction: row;
          }
           .fa-facebook-square{
             color: white;
             font-size: 1.875rem;
             background: #000;
             padding: 0.75rem;
             border-radius: 1px;
             margin-bottom: 0.75rem;
             @include desktop {
               margin-right: 0.75rem;
             }
            } 
            
            .fa-instagram {
             color: white;
             font-size: 1.875rem;
             background: #000;
             padding: 0.75rem;
             border-radius: 1px;
             margin-bottom: 0.75rem;
             @include desktop {
              margin-right: 0.75rem;
            }
            } 

           .fa-twitter {
             color: white;
             font-size: 1.875rem;
             background: #000;
             padding: 0.75rem;
             border-radius: 1px;
          } 
        }
      }

    } 
    
  }
  .rights-reserved {
   text-align: center;
   @include desktop {
    text-align: center;
   }

  }
}