.site-header {
    .site-branding {
	display: flex;
	align-items: center;
	padding: 1.4rem;    
	justify-content: space-between;
	i {
	    font-size: 3rem;
	}
    }
    position: relative;
    img {
	height: 3rem;
    }
    .menu-menu-container {
	width:100vw;
    }
    .menu {
	background-color: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100vw;
	text-align: right;
	a {
	    padding: 1.4rem;
	    text-transform: uppercase;
	    color: $color__text-main;
	}
    }
    .menu-hide {
	display: none;
	width: 0vw;
    }
}
