.post-type-archive-workshop,
.post-type-archive-community_programs{
    .hfeed{
	.content-area {
	    margin: 6.25rem auto 1rem;
	    @include desktop {
		max-width: 1176px;
		margin: 6.25rem auto 1rem;
	    }
	    // Flickity Style
	    .carousel-cell {
		width: 100%;
	    }
	    .flickity-page-dots {
		display: none;
	    }
	    .flickity-prev-next-button {
		display: none;
	    }
	    // Classes for the pagination of Flickity
	    .carousel-generator {
		display: none;
	    }
	    .carousel-pagination {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin: 1rem 0;
		.active-number {
		    border-bottom: .15rem solid $color__green-1;
		}
		a {
		    text-decoration: none;
		    color: $color__text-main;
		    &:active {
			text-decoration: none;
		    }
		}
	    }
	}
	.workshop,
	.community_programs{
		padding: .5rem;
	}
    }
}
