.post-type-archive-workshop,
.post-type-archive-community_programs{
    .hfeed{
	.site-content {
	    margin: 6.25rem auto 1rem;
	    @include desktop {
		max-width: 1176px;
		margin: 6.25rem auto 1rem;
	    }
	    // Flickity Style
	    .carousel-cell {
		width: 100%;
	    }
	    .flickity-page-dots {
		display: none;
	    }
	    .flickity-prev-next-button {
		display: none;
	    }
	    // Classes for the pagination of Flickity
	    .carousel-generator {
		display: none;
	    }
	    .carousel-pagination {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin: 1rem 0;
		a {
		    text-decoration: none;
		    color: $color__text-main;
		    &:active {
			border-bottom: 1px solid black;
		    }
		}
		.carousel-pagination-numbers {
		    display: flex;
		    justify-content: flex-end;
		    a {
			padding: 0 1rem;
			font-size: 1.5rem;
		    }
		}
	    }
	}
	.workshop,
	.community_programs{
		margin: 1rem;
	}
    }
}
