.post-type-archive-workshop{
    .hfeed{
	.site-content {
	    position: relative;
	    // Classes for the pagination of Flickity
	    .carousel-pagination {
		z-index:1;
		grid-column: 1 / 4;
		grid-row: 9 / 10;
		@include desktop {
		    grid-column: 3 / 4;
		    grid-row: 1 / 2;
		}
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin: 1rem 0;
		a {
		    text-decoration: none;
		    color: $color__text-main;
		}
		.carousel-pagination-numbers {
		    display: flex;
		    justify-content: flex-end;
		    a {
			padding: 0 1rem;
			font-size: 1.5rem;
		    }
		}
		.carousel-pagination-buttons {
		    display: flex;
		    justify-content: flex-end;
		    margin-top: 1rem;
		    .carousel-pagination-prev,
		    .carousel-pagination-next {
			margin: 0 .5rem;
			border: .2rem solid $color__green-1;
			border-radius: 100%;
			padding: 1.5rem;
			i {
			    color: $color__green-1;
			    font-size: 2rem;
			}
		    }
		}
	    }
	    // Other styles
	    .page-header {
		display: grid;
		grid-template-columns: 1fr 6fr 5fr;
		.workshop-page-content {
		    z-index:1;
		    grid-column: 2 / 3; 
		    h2 {
			font-size: 2.25rem;
		    }
		}
	    }
	    .workshop-no-owner {
		display: grid;
		grid-template-columns: repeat(3, 1fr) ;
		grid-template-rows: repeat(3, auto) .6rem repeat(6, auto);
		grid-column-gap: 4%;
		@include desktop {
		    grid-template-columns: repeat(12, 1fr);
		    grid-template-rows: repeat(4, auto) .6rem repeat(5, auto);
		    grid-column-gap: 1%;
		}
		.workshop-order-number {
		    grid-column: 1 / 2;
		    grid-row: 1 / 2;
		    @include desktop {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		    }
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    p {
			font-size: 7.5rem;
			text-align: center;
			margin: 0;
			font-weight: 900;
			@include desktop {
			    line-height: .5;
			    margin: unset;
			}
		    }
		}
		.workshop-title-image {
		    grid-column: 2 / 4;
		    grid-row: 1 / 2;
		    @include desktop {
			grid-column: 1 / 7;
			grid-row: 5 / 9;
			height: 19rem;
		    }
		    height: 100%;
		    background-position: center;
		    background-size: cover;
		}
		.entry-header {
		    grid-column: 1 / 4;
		    grid-row: 2 / 3;
		    @include desktop {
			grid-column: 2 / 7;
			grid-row: 3 / 4;
		    }
		    h2 {
			height: 100%;
			margin: 0;
			@include desktop {
			    word-wrap: break-word;
			    width: 70%;
			    margin: 0;
			    display: flex;
			    flex-direction: column;
			    justify-content: flex-end;
			}
			a {
			    text-decoration: none;
			    color: $color__text-main;
			    line-height: 1;
			}
		    }
		}
		.workshop-owner {
		    grid-column: 1/ 4;
		    grid-row: 3 / 4;
		    @include desktop {
			grid-column: 2 / 6;
			grid-row: 4 / 5;
		    }
		    h3 {
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1;
			margin: .5rem;
		    }
		}
		.workshop-secondary-image {
		    grid-column: 2 / 4;
		    grid-row: 4 / 9;
		    @include desktop {
			grid-column: 8/13;
			grid-row: 1 /4;
			height: 19rem;
		    }
		    height: 11.25rem;
		    background-position: center;
		    background-size: cover;
		}
		.entry-content {
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    grid-column: 1 / 4;
		    grid-row: 10 / 11;
		    @include desktop {
			grid-column: 8/13;
			grid-row: 6 / 8;
		    }
		    .volunteer-button {
			text-decoration: none;
			text-align: center;
			font-weight: 700;
			color: white;
			background-color: $color__green-1;
			padding: .5rem;
			width: 70%;
			margin-bottom: 2rem;
		    }
		}
		// Style for the boxes
		.dark-green-box {
		    grid-column: 1 / 2;
		    grid-row: 6 / 9;
		    background-color: $color__green-1;
		    //height: 6.3rem;
		    @include desktop {
			grid-column: 5 /7;
			grid-row: 1 / 3;
			height: 11rem;
		    }
		}
		.green-line {
		    grid-column: 1 /  3;
		    grid-row: 5 / 6;
		    background-color: $color__green-1;
		    height: .5rem;
		    @include desktop {
			grid-column: 2 / 10;
			grid-row: 6 / 7;
		    }
		}
		.light-green-box {
		    grid-column: 3 / 4;
		    grid-row: 1 / 5;
		    z-index: -1;
		    background-color: $color__background-green;
		    @include desktop {
			grid-column: 4 / 5;
			grid-row: 1;
			height: 5.5rem;
			background-color: $color__green-light-1;
		    }
		}
		.light-grey-box {
		    grid-column: 1 / 4;
		    grid-row: 5 / 11;
		    background-color: $color__background-grey;
		    z-index: -1;
		    @include desktop {
			display: none;
		    }
		}
	    }
	    .workshop-with-owner {
		display: grid;
		grid-template-columns: repeat(3, 1fr) ;
		grid-template-rows: .6rem auto 1rem repeat(4, auto) .6rem auto 2rem repeat(2, auto);
		grid-column-gap: 4%;
		@include desktop {
		    grid-template-columns: repeat(12, 1fr);
		    grid-template-rows: 1rem auto repeat(2, auto) .6rem repeat(5, auto);
		    grid-column-gap: 1%;
		}
		.workshop-order-number {
		    grid-column: 3 / 4;
		    grid-row: 2 / 3;
		    @include desktop {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		    }
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    p {
			font-size: 7.5rem;
			text-align: center;
			margin: 0;
			font-weight: 900;
			@include desktop {
			    line-height: .5;
			    margin: unset;
			}
		    }
		}
		.entry-header {
		    grid-column: 1 / 4;
		    grid-row: 5 / 6;
		    @include desktop {
			grid-column: 2 / 7;
			grid-row: 3 / 4;
		    }
		    h2 {
			height: 100%;
			margin: 0;
			@include desktop {
			    word-wrap: break-word;
			    width: 70%;
			    margin: 0;
			    display: flex;
			    flex-direction: column;
			    justify-content: flex-end;
			}
			a {
			    text-decoration: none;
			    color: $color__text-main;
			    line-height: 1;
			}
		    }
		}
		.workshop-owner {
		    grid-column: 1/ 4;
		    grid-row: 6 / 7;
		    @include desktop {
			grid-column: 2 / 6;
			grid-row: 4 / 5;
		    }
		    h3 {
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1;
			margin: .5rem;
		    }
		}
		.workshop-title-image {
		    grid-column: 1 / 3;
		    grid-row: 2 / 4;
		    @include desktop {
			grid-column: 1 / 7;
			grid-row: 5 / 9;
			height: 19rem;
		    }
		    height: 100%;
		    background-position: center;
		    background-size: cover;
		}
		.workshop-secondary-image {
		    grid-column: 2 / 4;
		    grid-row: 8 / 12;
		    @include desktop {
			grid-column: 8/13;
			grid-row: 1 /4;
			height: 19rem;
		    }
		    height: 11.25rem;
		    background-position: center;
		    background-size: cover;
		}
		.entry-content {
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    grid-column: 1 / 4;
		    grid-row: 13 / 14;
		    @include desktop {
			grid-column: 8/13;
			grid-row: 6 / 8;
		    }
		    .volunteer-button {
			text-decoration: none;
			text-align: center;
			font-weight: 700;
			color: white;
			background-color: $color__green-1;
			padding: .5rem;
			width: 70%;
			margin-bottom: 2rem;
		    }
		}
		.carousel-pagination {
		    grid-column: 1 / 4;
		    grid-row: 12 / 13;
		    @include desktop {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		    }
		}
		// Style for the boxes
		.dark-blue-box {
		    grid-column: 1 / 2;
		    grid-row: 10 / 12;
		    background-color: $color__cyan-1;
		    z-index: 1;
		    @include desktop {
			display: none;
		    }
		}
		.green-line {
		    grid-column: 1 /  3;
		    grid-row: 9 / 10;
		    background-color: $color__green-1;
		    height: .5rem;
		    @include desktop {
			grid-column: 2 / 10;
			grid-row: 6 / 7;
		    }
		}
		.light-green-box {
		    grid-column: 3 / 4;
		    grid-row: 1 / 5;
		    z-index: -1;
		    background-color: $color__background-green;
		    @include desktop {
			grid-column: 4 / 5;
			grid-row: 1;
			height: 5.5rem;
			background-color: $color__green-light-1;
		    }
		}
		.light-grey-box {
		    grid-column: 1 / 4;
		    grid-row: 3 / 14;
		    background-color: $color__background-grey;
		    z-index: -1;
		    @include desktop {
			display: none;
		    }
		}
	    }
	    .background-green-box {
		position: absolute;
		z-index: 0;
		background-color: $color__background-green;
		left: 60%;
		width: 40%;
		height: 100%;
	    }
	    .background-grey-box {
		position: absolute;
		z-index: 0;
		background-color: $color__background-grey;
		width: 100vw;
		height: 70%;
		top: 30%;
	    }
	}
    }
} 
