/*Footer */
  .site-footer {
   padding-left: 7px;
   padding-top: 18px;

   .menu {
     padding-bottom: 25px;
     padding-top: 20px;
     border-top: 1px solid #b8b8b8; 
     border-bottom: 1px solid #b8b8b8; 
     list-style: none;
     a {
       text-decoration: none;
       color: $color__border-abbr;
      }
      li {
        margin-bottom: 45px; 
     }
   }
    .widget-area {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    
      .Contact-Info-class{
        .widget-title {
          font-size: 20px;
        }
      }

      .social-info-class {
        display: flex;
        padding-top: 10px;
        .social-icons {
          font-size: 45px;
          list-style: none;
           .fa-facebook-square{
             color: white;
             font-size: 29px;
             background: #000;
             padding: 13px;
             border-radius: 1px;
             margin-bottom: 10px;
            } 
            
            .fa-instagram {
             color: white;
             font-size: 29px;
             background: #000;
             padding: 13px;
             border-radius: 1px;
             margin-bottom: 10px;
            } 

           .fa-twitter {
             color: white;
             font-size: 27px;
             background: #000;
             padding: 13px;
             border-radius: 1px;
          } 
        }
      }

    } 
    .rights-reserved {
     text-align: center;
    }
  }
